body {
  background-color: #1e1e1e;
}

.expenses {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  align-self: center;
}

.expense-list {
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.expense-list table {
  width: 100%;
  max-width: 800px; 
  margin: auto; 
  border-collapse: collapse;
  text-align: center; 
  background-color: #1e1e1e;
}

.expense-list th, .expense-list td {
  padding: 10px;
  border: none; 
}

.expense-list th {
  background-color: #1e1e1e;
}

.expense-list td {
  background-color: transparent; 
}

.expense-header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #1e1e1e;
}


h1 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}


.common-style {
  border: 0.2px solid white;
  border-radius: 14px;
  background-color: #3c3f41;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px 10px;
  box-sizing: border-box;
  display: inline-block;
  width: auto;
  margin: 5px;
  text-align: center;
}

.common-style:hover {
  background-color: #333;
}

.action-button {
  padding: 5px 10px;
  border: 0.2px solid white;
  border-radius: 14px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  transition: background-color 0.3s ease;
  width: fit-content;
  background-color: #3c3f41;
}

.action-button:hover {
  background-color: #333;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #444; 
}

.table-header {
  flex: 1;
  text-align: center;
  font-weight: bold;
  border: none;
}

.table-row input[type="text"], .table-row input[type="date"], .table-row select {
  flex: 1;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: transparent;
  color: #ffffff;
}

.table-row div {
  flex: 1;
  margin: 0 5px;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.table-row button {
  flex: 1;
  padding: 5px 10px;
  border: 0.2px solid white;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: #3c3f41;
}

.table-row button:hover {
  background-color: #333;
}

.table-row:nth-child(even) {
  background-color: transparent;
}

.table-row:nth-child(odd) {
  background-color: transparent;
}

*:focus {
  outline: none;
}

.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.dashboard {
  flex: 1;
  padding: 5px 10px;
  border: 0.2px solid white;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: #3c3f41;
  width: fit-content;
  align-self: center;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
