.expenses {
  background-color: #3c3f41;
  padding: 50px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(10, 0, 0, 0.2);
  max-width: 800px;
  width: 200%;
}

h1, h2, h3 {
  text-align: center;
  margin-bottom: 20px;
}

.common-style {
  border: 0.2px solid white;
  border-radius: 14px;
  background-color: #3c3f41;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 5px 10px;
  box-sizing: border-box;
  display: inline-block;
  width: 21%; /* Adjust width as needed */
  margin: 5px 10px; /* Adds space between filter inputs */
  text-align: center;
}

.common-style:hover {
  background-color: #333;
}

.action-button {
  padding: 5px 10px;
  border: 0.2px solid white;
  border-radius: 14px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  transition: background-color 0.3s ease;
  width: fit-content;
  background-color: #3c3f41;
}

.action-button:hover {
  background-color: #333;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}

.table-header {
  flex: 1;
  text-align: center; /* Center align the header text */
  font-weight: bold;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
}

.table-header:first-child {
  border-left: none;
}

.table-header:last-child {
  border-right: none;
}

.table-row input[type="text"], .table-row input[type="date"], .table-row select {
  flex: 1;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background: transparent;
  color: #ffffff;
}

.table-row div {
  flex: 1;
  margin: 0 5px;
  border: 1px solid transparent;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.table-row button {
  flex: 1;
  padding: 5px 10px;
  border: 0.2px solid white;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: #3c3f41;
}

.table-row button:hover {
  background-color: #333;
}

.table-row:nth-child(even) {
  background-color: #333;
}

.table-row:nth-child(odd) {
  background-color: #3c3f41;
}

*:focus {
  outline: none;
}

/* .action-button {
  display: flex;
  justify-content: flex-end;
  color: #fff;
} */

.filter-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  flex-wrap: wrap;
}

.dashboard {
  flex: 1;
  padding: 5px 10px;
  border: 0.2px solid white;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: #3c3f41;
  width: fit-content;
  align-self: center;
}