.home {
  border: none;
  border-radius: 10px;
  padding: 20px;
  flex: 1;
  margin: 10px;
  text-align: center;
  width: fit-content;
  align-self: center;
}

.input-style {
  padding: 5px 10px;
  border: 0.2px solid white;
  border-radius: 14px;
  cursor: pointer;
  align-self: center;
  text-align: center; 
  transition: background-color 0.3s ease;
  width: 300px;
  background-color: #3c3f41;
  color: #ffff;
}

.login-button {
  padding: 5px 10px;
  border: 0.2px solid white;
  border-radius: 14px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  transition: background-color 0.3s ease;
  width: fit-content;
  background-color: #3c3f41;
  color: #ffff;
}

.login-button:hover {
  background-color: #333;
}