body {
  background-color: #1e1e1e;
}

.logbudgets {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  align-self: center;
}

.header {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  flex: 1;
  margin: 10px;
  text-align: center;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.budget-table {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  flex: 1;
  margin: 10px;
  text-align: center;
}

.table-header {
  flex: 1;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.table-row button:hover {
  background-color: #333;
}

.table-row .action-button {
  width: 68px; 
  padding: 5px 10px;
  border: 0.2px solid white;
  border-radius: 14px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: #3c3f41;
  margin: 0 5px; 
  color: #ffffff;
}

.table-row .actionsave-button {
  padding: 5px 10px;
  border: 0.2px solid white;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  align-self: center;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 190px;
  background-color: #3c3f41;
  font-size: 16px;
  margin: 0 50px;
}

.table-row .log-button {
  padding: 5px 10px;
  border: 0.2px solid white;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
  width: 190px;
  background-color: #3c3f41;
  font-size: 16px;
  margin: 0 50px; 
}

.table-row .add-button {
  width: 1000px;
  align-self: center;
  padding: 5px 10px;
  border: 0.2px solid white;
  border-radius: 14px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  transition: background-color 0.3s ease;
  background-color: #3c3f41;
  margin: 0 auto; 
  font-size: 16px;
}

*:focus {
  outline: none;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.dashboard-button {
  flex: 1;
  padding: 5px 10px;
  border: 0.2px solid white;
  color: #fff;
  border-radius: 14px;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
  background-color: #3c3f41;
  width: fit-content;
  align-self: center;
  font-size: 16px;
}

.action-button:hover {
  background-color: #333; 
}
