html, body {
    margin: 0;
    text-align: center;
    padding: 0;
    height: 100%;
    background-color: #1a1a1a; /* Match the background color with expenses */
    color: #fff;
    font-family: Arial, sans-serif;
}

#root {
    height: 100%;
}

.smart-suggestions {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1000px;
  width: 100%;
  align-self: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0; /* Ensure the h1 is aligned properly */
}

.table-section {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px; /* Add space before the table */
}

.table-section table {
    width: 100%;
    max-width: 800px; /* Fix the width */
    margin: auto; /* Center the table */
    text-align: center; /* Center-align everything in the table */
    border-collapse: collapse;
}

.table-section th, .table-section td {
    padding: 10px;
    border: none; /* Remove the border property */
}

.table-section th {
    background-color: #3c3c3c;
    font-weight: bold; /* Ensure the headers are bold */
}

.table-section td {
    background-color: transparent; /* Remove background color */
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

.dashboard-button {
    flex: 1;
    padding: 5px 10px;
    border: 0.2px solid white;
    color: #fff;
    border-radius: 14px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    background-color: #3c3f41;
    width: fit-content;
    align-self: center;
}

.table-header {
    flex: 1;
    text-align: center; /* Center align the header text */
    font-weight: bold;
    border: none;
}
